<div class="container">
  <h1>
   <%= link_to "New Book", "/books/new", class: "btn btn-primary float-end" %>
  </h1>
  <% @books.each do |book| %>
  <h1><%= book.title %></h1>
  <h2><%= book.author %></h2>
  <p><%= book.description %></p>
<% end %>
