<div class="row">
	<div class="mb-3">
	<p> <%= image_tag 'book1.jpg' %></p>	
	 <%= @book.title %>
	</div>
	<div class="mb-3">
	 <%= @book.description %>
	</div>
	<div class="mb-3">
	 <%= @book.author %>
	</div>
</div>

